<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyce Addley About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/main.css')}}"  rel='stylesheet' >
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body id="page1">

  </body>
  <div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="nav nav-pills nav-justified nav-filter">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div class="container-fluid">
  <h1 class="text-center" style="font-size:3vw;">My Experience and Skills</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <pre class="text-right" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
Where:

Position:

When:

Responsibilities:
      </pre>
    </div>
    <div class="col-sm-7">
      <pre class="text-left" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
Molecular Oncology at ARUP, Salt Lake City

Technologist 1

December  2016 - PRESENT

I performed clinical genetic testing in a
high volume, high accuracy enviroment.  Some of my
regular responsibilities included: DNA and RNA extractions,
including FFPE and fluid samples, 6 different PCR assays
which all required different protocols and equipment,
the regularl maintainance and troubleshooting of
laboratory equipment and accurately tracking
200-300 patient samples at a time to ensure timely
completion of testing for the best patient care.  I
analyzed Sanger sequencing and fragment analysis data
and labeled the mutations if found.
      </pre>
      </div>
    <div class="col-sm-3">
      <a href="https://pbs.twimg.com/profile_images/2483468842/bp7ux9fuj5kbvrijfiqb_400x400.png">
      <img src="https://pbs.twimg.com/profile_images/2483468842/bp7ux9fuj5kbvrijfiqb_400x400.png" class="img-responsive"
           style="max-height: 50%; max-width: 50%">
      </a>
  		</div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <pre class="text-right" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
Where:

Position:

When:

Responsibilities:
      </pre>
    </div>
    <div class="col-sm-7">
      <pre class="text-left" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
ADVS Embryology Lab, Utah State University

Undergraduate Assistant

January 2015 - December 2016

I supervised and trained 5 new undergraduate hires and
volunteers. I also implanted cloned embryos and cared
for surrogates helping to result in 6 full term
successful pregnancies.Some of my main duties included:
processing up to three thousand oocytes per week,
care for fertilized embryos, lab maintainence,
coordination of scheduling for various duties, and performing
in vitro fertilization, maturation, and culturing for
successful cloning and stem cell projects daily.

      </pre>
      </div>
    <div class="col-sm-3">
      <a href="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Utah_State_University_seal.svg/300px-Utah_State_University_seal.svg.png">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Utah_State_University_seal.svg/300px-Utah_State_University_seal.svg.png" class="img-responsive"
           style="max-height: 50%; max-width: 50%">
      </a>
  		</div>
    </div>
  </div>
 <div class="container-fluid">
   <h1 class="text-center" style="font-size=3vw;">Education</h1>
 </div>
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <pre class="text-right" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
Where:

When:
      </pre>
    </div>
    <div class="col-sm-7">
      <pre class="text-left" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
Utah State University, Logan, Ut — Bachelor’s of Science

August 2012 - December 2016

      </pre>
      </div>
    <div class="col-sm-3">
      <a href="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Utah_State_University_seal.svg/300px-Utah_State_University_seal.svg.png">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Utah_State_University_seal.svg/300px-Utah_State_University_seal.svg.png" class="img-responsive"
           style="max-height: 50%; max-width: 50%">
      </a>
  		</div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; Tyce Addley 2018</p>
  </footer>
      </body>