<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyce Addley Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/main.css')}}"  rel='stylesheet' >
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body id="page2">

  </body>
<div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="nav nav-pills nav-justified nav-filter">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="container-fluid">
      <pre class="text-right" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:1.5vw;">
You can contact me at:

addley.ta@gmail.com

      </pre>
    </div>
