<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tyce Addley</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<head>
<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>
<div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="nav nav-pills nav-justified nav-filter">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="jumbotron">
  <h1 class="align-middle" style="font-size:6vw;">&#8213 Tyce Addley &#8213</h1>
  <p style="font-size:3.5vw; font-family:Dancing Script; text-align:center;">a professional summary</p>
</div>

<div>
  <main role="main">

    <div class="row justify-content-md-center">
      <div class="container center-block">
        <h1 class="text-center" style="font-size:3.5vw; font-family: 'M PLUS Rounded 1c', sans-serif;">Who Am I?</h1>
      </div>
    </div>
    <div class="containter">
      <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/19105847_1344688742234036_3090704601873935254_n.jpg?_nc_cat=0&oh=37a0836ac957f307cd04965311ba4464&oe=5BF6F540"
		alt="Avatar" class="img-circle img-responsive center-block"
		style="max-width:25%">
    </div>
    <div class="container center-block">
      <pre class="text-center" style="border:none; background:transparent;
	          font-family:Open Sans; font-size:2vw;">
                        
I am a biologist with a passion for technology and learning.
I believe genetic testing and analysis using computer processing
is the medicine of the future. My goal is to help diagnose,
treat, and eliminate genetic diseases and other
molecular based ailments through a career in molecular biology
and technology.
      </pre>
    </div>
  </div>

  </main>

  <footer class="footer">
    <p>&copy; Tyce Addley 2018</p>
  </footer>

</div>
